

:root {
  --main-header-push-dropdown: 20%;
  
  --main-header-link-padding: .75rem 1.25rem;
  --main-header-height: 56px;
  --main-header-logo-width: 198px;
  --main-header-bg: rgba(255, 255, 255, .9);

  @include in-desktop {
    --main-header-height: 90px;
  }
  @include in-large-desktop {
    --main-header-link-padding: .75rem 1.75rem;
  }
}

.main-header {
  position: absolute;
  height: var(--main-header-height);
  z-index: var(--zindex-header);
  font-family: var(--f-family-alternative);
  font-size: var(--text-main);
  top: 1rem;
  left: 1.5rem;
  right: 1.5rem;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

// mobile nav expanded 
.main-header--expanded {
  .hide-in-mobile {
    display: none;
  }
  .features-nav {
    margin-bottom: 1.5rem;
  }
  .features-nav__title {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  .main-header__nav {
    position: fixed;
    top: 5rem;
    right: 1rem;
    left: auto;
    overflow: inherit;
    filter: drop-shadow(0 0 21px rgba(0,0,0,.25));
    border-radius: var(--radius-md);
    background-color: #ffffff;
    width: calc(100% - 2rem);
    max-width: 26rem;
    z-index: var(--zindex-popover);

    &::before{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: 0;
      right: -2px;
      transform: translateX(-50%) translateY(-100%);
    }
  }
  .main-header__nav-grid {
    max-height: calc(94vh - 5rem);
    overflow: auto;
    padding: 2rem;
    box-sizing: border-box;
  }
  .main-header__item:not(.is-last-item) {
    border-bottom: 1px solid var(--c-gray-lighter);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  .main-header__item:first-child .features-nav__title {
    padding-top: 0.5rem;
  }
}

.main-header__mobile-content { 
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.main-header__logo {
  display: block;
  width: var(--main-header-logo-width);
  flex-shrink: 0;

  svg, img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.main-header__nav-control {
  background-color: var(--main-header-bg);
  border-radius: var(--radius-full);
  position: fixed;
  top: 1.25rem;
  right: 2rem;
}

.main-header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  padding: 0 0 .5rem;
  background-color: #ffffff;
  box-shadow: var(--shadow-md);
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-1em);

}

.main-header__nav--is-visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: visibility 0s, opacity .3s, transform .3s;
}

.main-header__nav-logo-wrapper {
  display: none; // hide logo nav on small devices
}

.main-header__item {
  flex-shrink: 0;
}

.main-header__dropdown-icon {
  display: none; // hide dropdown arrow on smaller screens
}
.main-header__nav-grid,
.main-header__item,
.features-nav__grid,
.main-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header__dropdown-content {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.main-header__link,
.main-header__dropdown-link {
  display: flex;
  align-items: center;
  color: var(--c-gray-darker);
  padding: .5rem 0;
}

.main-header__link[aria-current=page] {
  color: var(--c-primary-main);
}

.main-header__float-sign-in {
  display: flex;
  align-items: center;
  padding: .65rem 1.25rem .65rem .85rem;
  position: fixed;
  z-index: var(--zindex-fixed-cta);
  color: #ffffff;
  background-color: var(--c-primary-main);
  right: .5rem;
  bottom: 1.5rem;
  border-radius: var(--radius-full);
  font-size: var(--text-small);

  &:not(.is-collapsed) > :not(:last-child) {
    margin-right: .65rem;
  }

  &:hover {
    color: #ffffff;
  }
  &.is-collapsed {
    padding-left: 0;
    padding-right: 0;
    width: 40px;
    align-items: center;
    justify-content: center;

    span {
      display: none;
    }
  }
}

@include in-desktop {
  .show-in-mobile {
    display: none;
  }
  .main-header {
    box-shadow: var(--shadow-lg);
    position: fixed;
    top: 2rem;
    background-color: var(--main-header-bg);
    border-radius: var(--radius-md);
    backdrop-filter: blur(6px) brightness(80%);
  }

  .main-header__mobile-content {
    display: none; // hide logo + menu (mobile content)
  }

  .main-header__nav {
    // reset
    position: static;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: none;
    max-height: none;
    overflow: visible;
    overscroll-behavior: auto;
 
    height: var(--main-header-height);
    font-size: var(--text-small);

    &::before { 
      display: none;
    }
  }

  .main-header__nav-logo-wrapper {
    display: flex;
  }

  .main-header__nav-grid,
  .main-header__list {
    display: flex;
    align-items: center;
  }

  .main-header__nav-grid {
    height: 100%;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .main-header__item {
    position: relative;
    border-bottom: none;
  }

  .main-header__list > :not(:last-child) {
    margin-right: .5rem;
  }
  
  .main-header__dropdown-icon {
    display: block;
    margin-left: .5rem;
    flex-shrink: 0;
    transform: translateY(25%);
  }
  .main-header__login-button,
  .main-header__link {
    padding: var( --main-header-link-padding);
    border-radius: var(--radius-full);
  }

  .main-header__item:hover {
  .main-header__link {
      background-color: var(--c-primary-lighter);
      color: var(--c-primary-main);
    }
  }
  .main-header__dropdown {
    position: absolute;
    top: calc(100% - 4px);
    width: 16rem;
    z-index: var(--zindex-popover);
    padding-top: 20px;
    filter: drop-shadow(0 0 21px rgba(0,0,0,.25));
    right: 0;
    transform: translateX(var(--main-header-push-dropdown));

    &::before{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: 0;
      right: calc(var(--main-header-push-dropdown) - .46rem);
      transform: translateX(-50%);
    }

    // hide
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s .2s, opacity .2s 0s;

    .main-header__item:hover & {
      visibility: visible;
      opacity: 1;
      transition: visibility .2s 0s, opacity .2s 0s;
    }
    &--large {
      width: 46rem;
    }
  }
  .main-header__dropdown-content {
    background-color: #ffffff;
    padding: .5rem 0;
    border-radius: var(--radius-md);
  }

  .main-header__dropdown-link {
    padding: .5rem 1rem;
    
    &:hover {
      background-color: var(--c-primary-lighter);
    }
  }

  .main-header__login-button {
    background-color: var(--c-primary-main);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 1rem; 
    > *:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      color: #ffffff;
    }

    &--mobile {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
    }
  }

  .features-nav {
    padding: 2.5rem;
  }

  .features-nav__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
    row-gap: 2.5rem;
  }
    // separator
    .features-nav__grid li:not(:nth-child(n+5))::after {
      content: "";
      display: block;
      height: 1px;
      transform: translateY(1.25rem);
      background-color: var(--c-gray-lighter);
    } 

    .features-nav__item:hover {
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }
      &::before {
        content: "";
        position: absolute;
        top: -1.25rem;
        left: -.65rem;
        bottom: -1.25rem;
        right: -.65rem;
        background-color: rgba(0,0,0,.03);
      }
    }
    .features-nav__item-details {
      display: block;
      color: var(--c-gray-main);
      font-family: var(--f-family-main);
      font-size: var(--text-small);
      line-height: var(--lh-narrow);
    }
}
@include in-small-desktop {
  .main-header__item:first-child {
    --main-header-push-dropdown: 80%;
  }
}

